<app-user-header></app-user-header>

<app-request-filter (filtersChanged)="onFiltersChanged($event)"></app-request-filter>

@if (loading()) {
  <app-loading-indicator></app-loading-indicator>
} @else if (errorMessage()) {
  <app-error-message [errorMessage]="errorMessage()!"></app-error-message>
} @else if (rows().length === 0) {
  <app-empty-message [message]="'table.noResults' | translate"></app-empty-message>
} @else {
  <app-request-results-table
    [rows]="rows()"
    [totalCount]="totalCount()"
    [page]="page()"
    [pageSize]="pageSize()"
    [sortActive]="sortActive()"
    [sortDirection]="sortDirection()"
    (sortChange)="onSortChange($event)"
    (pageChange)="onPageChange($event)"
  >
  </app-request-results-table>
}
